
.main {
  display: flex;
  align-items: flex-start;
  padding: 80px;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}
.product{
  width: 230px;
  height: 320px;
}
.productContainer{
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  row-gap: 100px;
  padding-left: 60px;
}
.product img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.color{
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  opacity: 0.7;
}
.colorsContainer{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  gap: 8px;
}
.content{
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.title{
  font-size: 12px;
  font-weight: bold;
}
.price{
  font-size: 11px;
  color: #6e6e6e;
  margin-top: 5px;
}
.filtersList{
  position: relative;
  background-color: white;
}
.filterIcon{
  width: 20px;
  position: absolute;
  right: -30px;
  display: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .filterIcon{
    display: block;
  }
  .filtersList{
    position: absolute;
    left: -240px;
    top: 0;
    transition: ease-in-out .4s;
  }
  .filtersListVisible{
    left: 0;
    transition: ease-in-out .4s;
  }
  .main {
    padding: 40px;
  }
  .productContainer{
    padding-left: 0;
    gap: 20px;
    padding-top: 30px;
  }
}
@media (max-width: 720px) {
 .product{
  width: 100%;
  height: auto;
 }
}
@media (max-width: 480px) {
  .main {
    padding: 20px;
  }
}

